.floating-image-container {
    position: relative;
    animation: floatAnimation 3s infinite alternate ease-in-out;
  }
  
  @keyframes floatAnimation {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(-10px);
    }
  }
  
  img {
    width: 100%; /* Adjust as needed */
    height: auto; /* Maintain aspect ratio */
  }
  